
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/


body {
	margin: 0;
	padding: 0;
	background: #DAE2CF url(images/img01.jpg) repeat-x left top;
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	color: #3B3B3B;
}

div.info,div.success,div.warning,div.error {
	border: 1px solid;
	margin: 10px 0px;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}

div.info {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('info.png');
}

div.success {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('success.png');
}

div.warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('warning.png');
}

div.error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('error.png');
}

span.success {
	color: #4F8A10;
}

span.error {
	color: #D8000C;
}


h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	letter-spacing: -2px;
	text-transform: uppercase;
	font-family: 'Arvo', serif;
	font-weight: normal;
	color: #F6B300;
}

h1 {
	font-size: 2em;
}

h2 {
	letter-spacing: 1px;
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #4C5C37;
}

a:hover {
}

/* Header */

#header-wrapper {
}

#header {
	clear: both;
	width: 1000px;
	margin: 0px auto;
}

/* Logo */

#logo {
	margin: 0px;
	padding: 30px 0px;
	color: #000000;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	margin: 0px;
	padding: 30px 0px;
	text-align: center;
	text-transform: lowercase;
	font-size: 4em;
	font-weight: 400;
	color: #FFF;
}

#logo h1 span {
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFF;
}

/* Search */

#search {
	width: 320px;
	height: 60px;
	padding: 0px;
}

#search form {
	margin: 0px;
	padding: 0px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 250px;
	outline: none;
	background: #F5F0E7;
	border: 1px solid #D7D0C0;
	padding: 10px;
	border-radius: 8px;
	text-transform: lowercase;
	font-family: 'Open Sans', sans-serif;
	color: #454545;
}

#search-submit {
	width: 62px;
	height: 22px;
	display: none;
	border: none;
	color: #FFFFFF;
}

/* Menu */

#menu-wrapper {
	overflow: hidden;
	height: 56px;
}

#menu {
	width: 1100px;
	height: 55px;
	margin: 0px auto;
	padding: 0px;
	background: #5D7144;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
	border-right: 1px solid #6F8651;
}

#menu a {
	display: block;
	letter-spacing: 1px;
	margin: 0px 10px;
	line-height: 55px;
	padding: 0 20px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
}

#menu .current_page_item a {
}

/* Page */

#wrapper
{
	overflow: hidden;
	padding-bottom: 40px;
}

#page {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
	padding: 70px 50px 30px 50px;
	background: #FFFFFF;
}

/* Content */

#content {
	float: left;
	width: 620px;
}

.post {
	margin-bottom: 15px;
}

.post-alt
{
}

.post .title {
	height: 38px;
	margin-bottom: 10px;
	padding: 12px 0 0 0px;
	font-size: 28px;
}

.post .title a {
	border: none;
	color: #3D2729;
}

.post .meta {
	margin-bottom: 30px;
	padding: 5px 0px 15px 0px;
	text-align: left;
	font-weight: normal;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	display: inline-block;
	height: 30px;
	padding: 30px 0px 0px 0px;
	font-size: 14px;
	font-weight: normal;
	color: #1C1C1C;
}

.button
{
	padding: 10px 25px;
	background: #6F8651;
	border-radius: 5px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 14px;
	color: #FFFFFF;
}

/* Sidebar */

#sidebar {
	float: right;
	width:300px;
	margin: 0px;
	color: #787878;
}

#sidebar p
{
	color: #3B3B3B;
}


#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 50px;
}

#sidebar li li {
	border-bottom: 1px solid #CACACA;
	margin: 0px 0px;
	padding: 10px 0px;
	border-left: none;
	list-style: inside circle;
}

#sidebar li li a {
	color: #3B3B3B;
}

#sidebar li li span {
	display: block;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	padding-bottom: 20px;
	font-size: 1.4em;
	color: #3D2729;
}

#sidebar p {
	margin: 0px 0px 40px 0px;
	padding: 0px;
	text-align: justify;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	height: 150px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	background: #748D55 url(images/img02.png) repeat;
	border-top: 1px solid #A59282;
	font-family: 'Arvo', serif;
}

#footer p {
	margin: 0;
	padding-top: 40px;
	line-height: normal;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	color: #FFFFFF;
}

#footer a {
	color: #FFFFFF;
}

#banner {
	width: 1000px;
	margin: 0px auto;
}

#banner img
{
	border-radius: 8px;
}